:root {
    --fundo: #f2f2f2;              /* fundo claro tipo Apple */
    --preto-suave: #1d1d1f;        /* preto elegante Apple */
    --cinza-medio: #d1d1d6;        /* cinza iOS */
    --azul-apple: #007aff;         /* azul padrão Apple */
    --cinza-card: #2c2c2e;         /* fundo dos cards tipo dark mode Apple */
    --cinza--maisclaro-card: #484852;         /* fundo dos cards tipo dark mode Apple */
    --texto-principal: #ffffff;
    --texto-secundario: #c7c7cc;
}
.navbar {
    background-color: #000; /* cor de fundo */
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    top: 0;
    border-radius: 10px;
    z-index: 999;
  }
  
  .navbar .container {
    display: flex;
    justify-content: center;
    gap: 40px;

  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ccc;
  }

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--fundo);
    color: var(--preto-suave);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.sectionseminovos{
    background-color: var(--fundo);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    /* border-top: 3px solid black; */
}
.sectionnovos{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    background-color: var(--preto-suave);
    color: var(--texto-principal);
    border-radius: 10px;
    padding: 10px;
}
header{
    text-align: center;
    color: #000000;
}
header h3{
    margin-top: 0px;
    margin-bottom: 20px;
}
.card{
    padding: 10px;
    /* background-color: var(--cinza-card); */
    /* color: var(--texto-principal); */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    min-height: 400px;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr; /* 3 colunas iguais */;
    gap: 1px;
}
.card_news{
    padding: 10px;
    /* background-color: var(--cinza-card); */
    /* color: var(--texto-principal); */
    box-shadow: 0 0px 10px var(--cinza--maisclaro-card);
    border: 0.5px solid var(--cinza-card);
    min-width: 200px;
    min-height: 400px;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr; /* 3 colunas iguais */;
    gap: 1px;
}
.prices{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: space-between;
}
.imagem_card{
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.imagem_card img{
    max-width: 150px;
}
.infos_card{
    border-radius: 10px;
    height: 100%;
    
    
}
.infos_card h3, p{
    margin: 5px;
    margin-top: 10px;
}
.infos_card h3{
    margin-left: 20px;
}
.armprice{
    display: flex;
    justify-content: space-between;
}
.infos_card p{
    font-size: 18px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    /* color: var(--texto-secundario); */
}
.armazenamento{
    font-weight: bold;
    margin-right: 10px;
}
.color {
    margin-left: 2px;
    /* background-color: black;  ou qualquer cor que quiser */
    width: 20px;              /* largura fixa */
    height: 20px;             /* mesma altura = vira um círculo */
    display: inline-block;    /* para poder alinhar com outros elementos se necessário */
    border-radius: 50%;       /* isso deixa a forma circular */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.colors{
    display: flex;
    justify-content: space-around;
}

.acoes_card{
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 10px;
}
.comprar{
    border: none;
    border-radius: 5px;
    background-color: var(--azul-apple);
    color: white;
    font-weight: 500;
}
.trocar{

    border-radius: 5px;
    border: 1px solid var(--azul-apple);
    color: var(--azul-apple);
    background-color: transparent;
}
.comprar:hover{
    border: none;
    border-radius: 5px;
    background-color: #0051c7;
    transition: 0.2s ease;
}
.trocar:hover{
    background-color: rgb(41, 41, 155);
    border-radius: 5px;
    background-color: var(--azul-apple);
    color: white;
}

@media screen and (max-width: 780px) {
    /* Estilos aplicados quando a largura da tela for 768px ou menos */
    .sectionseminovos{
        /* background-color: rgb(133, 133, 133); */
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr); /* 3 colunas iguais */
        /* border-top: 3px solid black; */
    }
    .sectionnovos{
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr); /* 3 colunas iguais */
    }
    .infos_card p{
        margin: 0px;
        margin-left: 10px;
        text-align: left;
    }
    .infos_card h3{
        margin: 1px;
        text-align: center;
    }
    .color {
        margin-left: 2px;
        
        width: 15px;              /* largura fixa */
        height: 15px;             /* mesma altura = vira um círculo */
        display: inline-block;    /* para poder alinhar com outros elementos se necessário */
        border-radius: 50%;       /* isso deixa a forma circular */
    }
    .card{
        /* background-color: rgb(88, 88, 88); */
        min-width: 300px;
        min-height: 150px;
        border-radius: 10px;
        margin: 10px;
        display: grid;
        grid-template-areas: 
        "foto info"
        "foto ação";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 70% 30%; /* aqui está o segredo! */

    }
    .card_news{
        /* background-color: rgb(88, 88, 88); */
        min-width: 300px;
        min-height: 150px;
        border-radius: 10px;
        margin: 10px;
        display: grid;
        grid-template-areas: 
        "foto info"
        "foto ação";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 70% 30%; /* aqui está o segredo! */
    }
    .imagem_card{
        grid-area: foto;
        border-radius: 10px;
    }
    
    .infos_card{
        grid-area: info;
        border-radius: 10px;
    }
    .acoes_card{
        grid-area: ação;
        border-radius: 10px;
        
        padding: 0px;
    }
    .card > * {
        height: 100%; /* <<< ISSO RESOLVE O PROBLEMA */
        align-self: stretch;
    }
    .card_news > *{
        height: 100%; /* <<< ISSO RESOLVE O PROBLEMA */
        align-self: stretch;
    }
} 

@media screen and (max-width: 718px) {
    /* Estilos aplicados quando a largura da tela for 768px ou menos */
    .sectionseminovos{
        /* background-color: rgb(133, 133, 133); */
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 colunas iguais */
        /* border-top: 3px solid black; */
    }
    .sectionnovos{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 colunas iguais */
        padding: 5px;
    }
    .card{
        /* background-color: rgb(88, 88, 88); */
        min-width: 300px;
        min-height: 150px;
        border-radius: 10px;
        
    }
    .card_news{
        min-width: 300px;
        min-height: 150px;
        border-radius: 10px;
    }
    .color{
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 3px;
        
    }
    
} 